lab4_191818970_Espinoza/WindowsFormsApplication3/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60771/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60771/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_equipoUs_InputMessage">
    <wsdl:part name="parameters" element="tns:equipoUs" />
  </wsdl:message>
  <wsdl:message name="IService1_equipoUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:equipoUsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_puntajeUs_InputMessage">
    <wsdl:part name="parameters" element="tns:puntajeUs" />
  </wsdl:message>
  <wsdl:message name="IService1_puntajeUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:puntajeUsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_apodoUs_InputMessage">
    <wsdl:part name="parameters" element="tns:apodoUs" />
  </wsdl:message>
  <wsdl:message name="IService1_apodoUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:apodoUsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:usuario" />
  </wsdl:message>
  <wsdl:message name="IService1_usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_actualizarPuntaje_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarPuntaje" />
  </wsdl:message>
  <wsdl:message name="IService1_actualizarPuntaje_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarPuntajeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="equipoUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/equipoUs" message="tns:IService1_equipoUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/equipoUsResponse" message="tns:IService1_equipoUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="puntajeUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/puntajeUs" message="tns:IService1_puntajeUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/puntajeUsResponse" message="tns:IService1_puntajeUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="apodoUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/apodoUs" message="tns:IService1_apodoUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/apodoUsResponse" message="tns:IService1_apodoUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/usuario" message="tns:IService1_usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/usuarioResponse" message="tns:IService1_usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registrarUsuario" message="tns:IService1_registrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registrarUsuarioResponse" message="tns:IService1_registrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarPuntaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/actualizarPuntaje" message="tns:IService1_actualizarPuntaje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/actualizarPuntajeResponse" message="tns:IService1_actualizarPuntaje_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="equipoUs">
      <soap:operation soapAction="http://tempuri.org/IService1/equipoUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="puntajeUs">
      <soap:operation soapAction="http://tempuri.org/IService1/puntajeUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apodoUs">
      <soap:operation soapAction="http://tempuri.org/IService1/apodoUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuario">
      <soap:operation soapAction="http://tempuri.org/IService1/usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/registrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarPuntaje">
      <soap:operation soapAction="http://tempuri.org/IService1/actualizarPuntaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60771/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>